body{
    /* background-color: lightyellow; */
    /* background-color: #fdffe0; */
}
main {
    margin:auto;
    width: 100%;
    max-width: 800px;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
}
footer{
    text-align: right;
    font-size: smaller;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

.container {
    width: 100%;
}